{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'test1/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'test1/css/main.css' %}">
        <title>Employ Register</title>
</head>
<body>
        <section>
                <div class="container">
                    <div style="margin-top: 64px;">
                        <div class="col-md-8">
        
                        {% load crispy_forms_tags %}
                        <div class="border p-4 mb-5 ">
                                <legend class="border-bottom pb-2 mb-3 " >التسجيل</legend>
                                <form method="post" action="">
                                        {% csrf_token %}
                                        {{form|crispy}}
                                        
                                        <input class="btn btn-secondary mt-4 " value="Submit" type="submit" value="تسجيل">
        
                                </form>
                        </div>
                        </div>
                </div>
        </div>
        </section>
        <script src="{% static 'test1/js/jquery-3.4.1.slim.min.js' %}"></script>
        <script src="{% static 'test1/js/bootstrap.min.js' %}"></script>        
</body>
</html>
