{% extends 'test1/base.html' %}
<!-- {% load static %} -->
{% block content %}
{% load crispy_forms_tags %}
<div class="border p-4 mb-5 ">
        <legend class="border-bottom pb-2 mb-3 " >التسجيل</legend>
        <div class="row">
            {% if req %}
            {% for r in req %}
                <div class="col-md-4 m-2 p-2"  {% if r.accepted %}style="text-align:center;background-color:#00b960;border-radius: 20px;"{% else %}style="text-align:center;border-radius: 20px;" {% endif %}>
                   <p>  {{r.username}} </p>
                
                <a href="{% url 'thereq' r.id %}" class="btn btn-secondary" >View and Accept</a>
                 <a class="btn btn-warning" href="{% url 'reg-delete' r.id %}">حذف</a>
                </div>
        
        {% endfor %}
        {% else %}
        <h2>No Requests</h2>
        {% endif %}
        </div>
</div>

{% endblock content %} 