{% extends 'shop/dash-base.html' %}
{% block title%} Orders - Ghosn Alban{% endblock %}
{% block dashbody %}
<!-- Other Elements Start -->
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-sm-12 col-xl-6">
      <div class="bg-light rounded h-100 p-4">
          <h6 class="mb-4 text-end">الطلبات</h6>
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th scope="col">Id</th>
                      <td>اسم الطبق</td>
                      <td>التصنيف</td>
                      <td>السعر</td>
                      <td>تفصيل</td>
                  </tr>
              </thead>
              <tbody>
                {% for item in items %}
                  <tr>
                      <th scope="row">{{item.pk}}</th>
                      <td>{{item.product_name}}</td>
                      <td>{{item.category}}</td>
                      <td>{{item.price}}</td>
                      <td><a class="btn btn-sm btn-primary" href="{% url 'productView' item.pk %}">تفصيل</a></td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
          <div class="btn-toolbar justify-content-end" role="toolbar">
            <div class="btn-group me-2" role="group" aria-label="First group">
              {% if orders.has_previous %}
                <a href="?page=1&{{ params }}" class="btn btn-primary">1</a>
                <a href="?page={{ items.previous_page_number }}&{{ params }}" class="btn btn-primary">السابق</a>
                
              {% endif %}

              <a href="#" class="btn btn-primary">{{items.number}}</a>

              {% if orders.has_next %}
              <a href="?page={{ items.next_page_number }}&{{ params }}" class="btn btn-primary">التالي</a>
              <a href="?page={{ items.paginator.num_pages }}&{{ params }}" class="btn btn-primary">الاخيرة</a>
              {% endif %}
            </div>
            
        </div>
      </div>
  </div>
  </div>
</div>

{% endblock dashbody %}