{% extends 'test1/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'graph-detail' object.pk %}" class="btn btn-light">رجوع</a>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5 col-sm-12">
            <h5>هل انت متأكد؟</h5>
            <p>أنت على وشك حذف هذا المنشور</p>
        <form method="POST">
            {% csrf_token %}
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-danger">حذف</button>
            </div>
        </form>
    </div>
    </div>
</div>
{% endblock content %}